In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
variables = pd.read_csv('VariableDefinitions (1).csv')

In [5]:

train

,ID,country,region,population,age,Q1,Q2,Q3,Q4,Q5,...,Q21,Q22,Q23,Q24,Q25,Q26,Q27,owns_mobile,Q28,target
0,ID_0000020532,Morocco,Middle East & North Africa (excluding high inc...,2.555017e+07,66.0,2,NaN,NaN,NaN,NaN,...,1,2,NaN,1,2,2.0,2.0,1.0,1.0,0
1,ID_0000075765,Lebanon,Middle East & North Africa (excluding high inc...,4.591023e+06,44.0,2,NaN,NaN,2.0,2.0,...,1,2,NaN,2,2,2.0,1.0,1.0,1.0,1
2,ID_0000085491,Morocco,Middle East & North Africa (excluding high inc...,2.555017e+07,29.0,1,1.0,1.0,2.0,2.0,...,1,1,2.0,2,2,2.0,NaN,1.0,1.0,0
3,ID_0000144505,Canada,High income: OECD,3.049117e+07,44.0,1,1.0,1.0,1.0,1.0,...,1,1,2.0,1,2,NaN,NaN,1.0,NaN,1
4,ID_0000214184,Mexico,Latin America & Caribbean (excluding high income),9.300232e+07,36.0,2,NaN,NaN,NaN,NaN,...,1,2,NaN,1,2,2.0,2.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104862,ID_9999251978,India,South Asia,9.508153e+08,48.0,2,NaN,NaN,NaN,NaN,...,1,2,NaN,2,2,2.0,2.0,2.0,1.0,0
104863,ID_9999305731,"Hong Kong SAR, China",High income: nonOECD,6.522989e+06,16.0,1,1.0,2.0,2.0,2.0,...,2,1,2.0,1,2,NaN,NaN,1.0,NaN,1
104864,ID_9999406850,Mauritius,Sub-Saharan Africa (excluding high income),1.024565e+06,53.0,1,1.0,2.0,2.0,2.0,...,2,2,NaN,2,2,NaN,2.0,2.0,NaN,0
104865,ID_9999627239,Germany,High income: OECD,7.184693e+07,50.0,2,NaN,NaN,NaN,NaN,...,1,2,NaN,2,2,NaN,1.0,1.0,NaN,1
104866,ID_9999859033,Vietnam,East Asia & Pacific (excluding high income),7.130859e+07,60.0,2,NaN,NaN,NaN,NaN,...,1,1,2.0,1,2,2.0,NaN,1.0,1.0,0

In [6]:
train.isnull().sum()

ID                 0
country            0
region           679
population         0
age              287
Q1                 0
Q2             57146
Q3             59653
Q4             47422
Q5             47422
Q6                 0
Q7             84226
Q8             45838
Q9             45838
Q10a               0
Q10b               0
Q11                0
Q12                0
Q13a               0
Q14                0
Q15                0
Q16                0
Q17a               0
Q17b               0
Q19            24173
Q20            24173
Q21                0
Q22                0
Q23            67287
Q24                0
Q25                0
Q26            24173
Q27            46438
owns_mobile        1
Q28            31005
target             0
dtype: int64

In [14]:
f_dataset = train.fillna(-999)
f_test = test.fillna(-999)

In [8]:
cat = [x for x in f_dataset.columns if f_dataset[x].dtype == 'object']
numerical = [x for x in f_dataset.columns if f_dataset[x].dtype in ['float64', 'int64']]

print(len(cat))
print(len(numerical))

3
33

In [9]:
target = f_dataset['target']
f_dataset.drop('target', axis=1, inplace=True)

In [10]:
from sklearn.model_selection import train_test_split

fx_train , fx_val , fy_train, fy_val = train_test_split(f_dataset, target, test_size=0.3)

In [11]:
from catboost import CatBoostClassifier

f_model = CatBoostClassifier(
    custom_loss = ['Logloss'],
    random_seed = 0,
    logging_level = 'Silent',
)

from sklearn.metrics import auc, roc_curve

def score(y_predicted, y_actual):
    fpr , tpr , threshold = roc_curve(y_actual, y_predicted)
#     print(f'fpr: {fpr}')
#     print(f'tpr: {tpr}')
    
    new_score = auc(fpr, tpr)
    print(new_score)

Filter features by variation

In [13]:
f_dataset.var()

population     4.391240e+16
age            3.273528e+03
Q1             2.732620e-01
Q2             2.480128e+05
Q3             2.454090e+05
Q4             2.480254e+05
Q5             2.479943e+05
Q6             1.844452e-01
Q7             1.581383e+05
Q8             2.461553e+05
Q9             2.461466e+05
Q10a           1.860812e-01
Q10b           1.776560e-01
Q11            1.423028e-01
Q12            1.958048e-01
Q13a           2.103740e-01
Q14            1.275806e-01
Q15            1.023353e-01
Q16            7.212290e-02
Q17a           1.216688e-01
Q17b           1.907626e-01
Q19            1.776638e+05
Q20            1.776535e+05
Q21            2.666888e-01
Q22            2.486345e-01
Q23            2.302831e+05
Q24            1.407499e-01
Q25            1.276488e-01
Q26            1.776811e+05
Q27            2.471516e+05
owns_mobile    9.694686e+00
Q28            2.082996e+05
dtype: float64

In [12]:
def fit_model():
    f_model.fit(fx_train, fy_train,
                cat_features = cat,
                eval_set = (fx_val, fy_val))

    f_pred = f_model.predict_proba(fx_val)[:, 1]
    score(f_pred, fy_val)

0.8012863344547163

In [16]:
f_pred = f_model.predict_proba(f_dataset)[:, 1]
f_pred_test = f_model.predict_proba(f_test)[:, 1]

## SECOND DATASET, MEAN ENCODED ETC

In [43]:
from sklearn.impute import KNNImputer

In [80]:
mean_dataset = pd.concat([train, test], axis=0).reset_index(drop=True)
mean_dataset_target = mean_dataset['target']
# mean_dataset.drop('target', axis=1, inplace=True)

In [103]:
cat_ = [x for x in mean_dataset.columns if mean_dataset[x].dtype == 'object']
numerical_ = [x for x in mean_dataset.columns if mean_dataset[x].dtype in ['float64', 'int64']]

In [48]:
# imputer = KNNImputer(n_neighbors=2, weights="uniform")
# mean_dataset[numerical] = imputer.fit_transform(mean_dataset[numerical])

In [82]:
for i in cat:
    mean_dataset[i] = mean_dataset[i].interpolate(method='pad', limit=3)

for i in numerical:
    mean_dataset[i] = mean_dataset[i].interpolate(method='linear')
    
for i in numerical:
    mean_dataset[i] = mean_dataset[i].interpolate(method='pad')

In [83]:
mean_dataset['Q2']=mean_dataset['Q2'].fillna(mean_dataset['Q2'].median())
mean_dataset['Q3']=mean_dataset['Q3'].fillna(mean_dataset['Q3'].median())
mean_dataset['Q4']=mean_dataset['Q4'].fillna(mean_dataset['Q4'].median())
mean_dataset['Q5']=mean_dataset['Q5'].fillna(mean_dataset['Q5'].median())
mean_dataset['Q7']=mean_dataset['Q7'].fillna(mean_dataset['Q7'].median())
mean_dataset['Q8']=mean_dataset['Q8'].fillna(mean_dataset['Q8'].median())
mean_dataset['Q9']=mean_dataset['Q9'].fillna(mean_dataset['Q9'].median())
mean_dataset['Q23']=mean_dataset['Q23'].fillna(mean_dataset['Q23'].median())

# mean_dataset.isnull().sum()

In [84]:
country_pop_m = mean_dataset.groupby('country')['population'].mean()
country_age_m = mean_dataset.groupby('country')['age'].mean()
country_pop_median = mean_dataset.groupby('country')['population'].median()
country_age_median = mean_dataset.groupby('country')['age'].median()

region_pop = mean_dataset.groupby('region')['population'].mean()
region_age = mean_dataset.groupby('region')['age'].mean()
region_pop_median = mean_dataset.groupby('region')['population'].median()
region_age_median = mean_dataset.groupby('region')['age'].median()

# Q4 and Q5

mean_dataset['Qcountry_pop'] = mean_dataset['country'].map(country_pop_m)
mean_dataset['Qcountry_age'] = mean_dataset['country'].map(country_age_m)
mean_dataset['Qregion_pop'] = mean_dataset['region'].map(region_pop)
mean_dataset['Qregion_pop'] = mean_dataset['region'].map(region_age)

mean_dataset['Qcountry_pop1'] = mean_dataset['country'].map(country_pop_median)
mean_dataset['Qcountry_age1'] = mean_dataset['country'].map(country_age_median)
mean_dataset['Qregion_pop1'] = mean_dataset['region'].map(region_pop_median)
mean_dataset['Qregion_pop1'] = mean_dataset['region'].map(region_age_median)

In [88]:
print(train.shape)
print(test.shape)

print(mean_dataset.shape)

(104867, 36)
(44943, 35)
(149810, 41)

In [99]:
s = mean_dataset.iloc[:104867, :]
s_test = mean_dataset.iloc[104867:, :]

(104867, 41)
(44943, 41)
(149810, 41)

In [110]:
import lightgbm as lgb

sx_train, sx_val, sy_train, sy_val = train_test_split(s, target, test_size=0.3)

s_model = CatBoostClassifier(
    custom_loss = ['Logloss'],
    random_seed = 0,
    logging_level = 'Silent',
)

In [111]:
s_model.fit(sx_train, sy_train,
               cat_features = cat_,
               eval_set = (sx_val, sy_val))

s_pred = s_model.predict_proba(sx_val)[:, 1]
score(s_pred, sy_val)

0.7992685526368366

In [135]:
s_pred = s_model.predict_proba(s)[:, 1]
s_pred_test = s_model.predict_proba(s_test)[:, 1]

In [112]:
s_pred.shape

(31461,)

In [138]:
meta_features = pd.DataFrame({'f_pred':f_pred, 's_pred':s_pred})

meta_features['sum'] = meta_features['f_pred'] + meta_features['s_pred']
meta_features['diff'] = meta_features['f_pred'] - meta_features['s_pred']
meta_features['square1'] = np.square(meta_features['f_pred'])
meta_features['square2'] = np.square(meta_features['s_pred'])
meta_features['divs'] = meta_features['f_pred'] / meta_features['s_pred']

In [139]:
from sklearn.linear_model import LogisticRegression

meta_learner = LogisticRegression().fit(meta_features, target)

In [141]:
meta_features_test = pd.DataFrame({'f_pred':f_pred_test, 's_pred':s_pred_test})

meta_features_test['sum'] = meta_features_test['f_pred'] + meta_features_test['s_pred']
meta_features_test['diff'] = meta_features_test['f_pred'] - meta_features_test['s_pred']
meta_features_test['square1'] = np.square(meta_features_test['f_pred'])
meta_features_test['square2'] = np.square(meta_features_test['s_pred'])
meta_features_test['divs'] = meta_features_test['f_pred'] / meta_features_test['s_pred']

In [128]:
chill = meta_learner.predict_proba(meta_features)[:, 1]
score(chill, target)

0.8564797818006407

In [142]:
test_prediction = meta_learner.predict_proba(meta_features_test)[:, 1]

## TESTING

In [70]:
new_test = test.fillna(-999)

y_pred_test = boost_model.predict_proba(new_test)[:, 1]

In [75]:
print(test.ID)

0        ID_0000005111
1        ID_0000389416
2        ID_0000634789
3        ID_0000778100
4        ID_0001123210
             ...
44938    ID_9998436223
44939    ID_9998690942
44940    ID_9999258746
44941    ID_9999427887
44942    ID_9999998408
Name: ID, Length: 44943, dtype: object

In [145]:
first_sub = pd.DataFrame({'ID':test.ID, 'target':test_prediction})
first_sub.to_csv('final_last_submission.csv', index=False)